services:
  healthriskhub:
    container_name: healthriskhub-web
    image: node:24.3.0
    restart: always
    command: "tail -F anything"
    ports:
      - "${WEB_PORT:-3001}:3000" # host:3001 -> container:3000 (ปล่อย host:3000 ไว้รันบนเครื่อง)
    volumes:
      - "./:/app"
    depends_on:
      - healthriskhub-db

  healthriskhub-db:
    image: postgres:15-alpine
    container_name: healthriskhub-db
    restart: always
    environment:
      POSTGRES_USER: hhub_admin
      POSTGRES_PASSWORD: Hhub333364
      POSTGRES_DB: HealtRiskHub
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
